/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-km-test-block {
	color: black;
	padding: 2px;
}

.wp-block-km-test-block {
  .km-tabs-header {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    
    .km-tabs-buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    .km-tab-button {
      padding: 0.5rem 1rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      background: #fff;
      cursor: pointer;
      
      &.active {
        background: var(--wp--preset--color--primary);
        color: white;
      }
      
      &:hover:not(.active) {
        background: #f0f0f0;
      }
    }
  }

  .km-tabs-panels {
    .km-tab-panel {
      display: none;
      padding: 1rem;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      
      &.active {
        display: block;
      }
    }
  }

  .remove-tab-button {
    padding: 0 0.5rem;
    margin-left: 0.5rem;
    color: #cc1818;
    
    &:hover {
      color: #710d0d;
    }
  }
}

.km-tabs {
    padding: 4rem 0;
    background-color: var(--background);
}

.km-tabs-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.km-tab-item {
    padding: 1rem 1.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.05);
}

.km-tab-item:hover {
    padding-left: 2rem;
}

.km-tab-item.active {
    background-color: var(--wp--preset--color--primary);
    color: var(--background);
}

.km-tabs-content {
    display: flex;
	gap: 2rem;
}

.km-tab-panel {
    display: none;
    padding: 0 2rem;
    border-left: 2px solid var(--wp--preset--color--primary);
}

.km-tab-panel.active {
    display: block;
    animation: fadeIn 0.5s ease;
}

.km-tab-panel h3 {
    color: var(--wp--preset--color--primary);
    margin-bottom: 1rem;
    font-size: 1.75rem;
}

.km-tab-panel p {
    color: var(--wp--preset--color--secondary);
    line-height: 1.6;
}

.km-tab-panel-image {
    margin-top: 2rem;
}

.km-tab-panel-image figure {
    margin: 0;
    width: 100%;
    height: 300px;
    border-radius: 1rem;
    overflow: hidden;
}

.km-tab-panel-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 1rem;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 1024px) {
    .km-tab-item {
        font-size: 1.5rem;
    }
}

@media (max-width: 781px) {
    .km-tabs-content {
        flex-direction: column;
    }

    .km-tabs-nav, .km-tabs-panels {
        flex-basis: 100% !important;
    }

    .km-tab-item {
        font-size: 1.5rem;
    }

    .km-tab-panel {
        padding: 1rem;
        border-left: none;
    }
}
