.km-hero {
    padding: 6rem 0;
    background-color: var(--background);
    border: 2px solid var(--primary);
}

.km-hero-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.km-hero-columns {
    align-items: center;
    gap: 4rem;
}

.km-hero-content {
    padding-right: 2rem;
}

.km-hero-title {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    color: var(--primary);
}


.km-hero-name {
    font-size: 2rem;
    color: crimson;
    margin-bottom: 0.5rem;
}

.km-separator {
    color: var(--secondary);
    margin: 0 0.5rem;
}

.km-hero-subtitle {
    font-size: 1.5rem;
    color: var(--secondary);
    margin-bottom: 2rem;
}

.km-hero-buttons {
    margin-top: 2rem;
}

.km-hero-image figure {
    margin: 0;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.km-hero-image img {
    width: 100%;
    height: 350px;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 1rem;
}

.km-hero-image img:hover {
    transform: scale(1.02);
}

@media (max-width: 781px) {
    .km-hero {
        padding: 4rem 0;
    }

    .km-hero-columns {
        flex-direction: column;
        gap: 2rem;
    }

    .km-hero-content {
        padding-right: 0;
    }

    .km-hero-title {
        font-size: 2.5rem;
    }
}